Package: com.ioscreatix.intelixbeta
Name: Intelix (Beta)
Depends: mobilesubstrate
Version: 1.3.3
Architecture: iphoneos-arm
Description: Grouped Notifications on iOS 11 (Beta)
Maintainer: iOS Creatix
Author: iOS Creatix
Section: Tweaks
Replaces: com.ioscreatix.intelix