Package: com.ioscreatix.intelix
Name: Intelix
Depends: mobilesubstrate
Version: 1.1.0
Architecture: iphoneos-arm
Description: Grouped Notifications on iOS 11
Maintainer: iOS Creatix
Author: iOS Creatix
Section: Tweaks
